.bg-container {
  height: 100vh;
  width: 100vw;
  background-color: #ecedf1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.card {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.heading {
  color: #29212c;
  font-size: 16px;
}

.button {
  padding: 10px;
  color: #ffffff;
  background-color: #82ce73;
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  width: 150px;
}

.button:hover {
  cursor: pointer;
  background-color: #639e59;
  transition: all 0.3s ease;
}

.color {
  font-size: 12px;
  font-weight: 500;
  margin-right: 5px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #29212c;
}

.icon:hover {
  cursor: pointer;
}
